// Tachyons overrides
$sans-serif: 'Raleway', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;

// SimpleLightbox overrides
$sl-font-family: $sans-serif
$sl-overlay-background: black
$sl-caption-background: transparent
$sl-navigation-color: white

// Actual imports...
@import 'tachyons'
@import 'simpleLightbox'

// My actual styles
.current-menu-item
    @extend .b
    a
        @extend .black

a
    @extend .color-inherit, .dim

p
    @extend .mt0
